{% extends "front/pages/page_base.html" %}

{% block title %}About{% endblock %}

{% block breadcrumb %}
<span class="current_crumb">About</span>

{% endblock %}

{% block content %}

<span class="meta">why does this site exist?</span>
<h2>About Loci Desktops</h2>

<p>Loci Desktop is a new way to save &amp; share your favorite websites.</p>

<h3>Bookmarks Are Broken</h3>

<p>
    Bookmarks have been around since the birth of the browser, but many people find that even though they have bookmarked a link, they will <em>google</em> for the site rather than find it in the bookmarks.
</p>


<h3>Desktops Are Better</h3>

<p>
    Do you find that when you enter your pin number in to the ATM, that the pattern the digits makes on the keypad comes to mind, before the digits themselves?
</p>
<p>
    This is because most people recall things better when they are arranged <em>spatially</em>.

<p>
    By placing links at a specific location on a <em>virtual</em> Loci Desktop, you will be able to find them virtually instantly without navigating menus or resorting to using a search engine.
</p>

<h3>Create Multiple Desktops</h3>

<p>
    Desktops need not get cluttered, because you can create as many desktops as you wish. Create one for work, on for entertainment, etc.
</p>

<h3>Share or Don't Share</h3>

<p>
    Desktops can be public so that anyone can see your links, or made completely private so that only you can see them.
</p>
<p>
    Private desktops are so private that if you are not logged in, nobody will even know they exist!
</p>

{% endblock %}

{% block sidebar %}
<h3>For the Impatient</h3>

<p>
    Loci Desktop lets you arrange your favorite sites in a virtual browser-based desktop.
</p>

<p>
    <strong>
<a href="/accounts/create/">Get a <em>free</em> Loci Desktop!</a>
    </strong>
</p>


{% endblock %}