{% extends "front/pages/page_base.html" %}

{% block breadcrumb %}
<span class="current_crumb">Contact</span>
{% endblock %}

{% block content %}

<span class="meta">Get in touch</span>
<h2>Contact</h2>
 
<p>
    If you have any questions or suggestions regarding Loci Desktop, please email
    
</p>
<a href="http://www.willmcgugan.com/contact/" target="_blank">
<pre style="line-height:11px;font-weight:bold;font-size:10px;">
        _ _ _  ____         _ _ _                                                  
__ __ _(_) | |/ __ \__ __ _(_) | |_ __  __ __ _ _  _ __ _ __ _ _ _    __ ___ _ __  
\ V  V / | | / / _` \ V  V / | | | '  \/ _/ _` | || / _` / _` | ' \ _/ _/ _ \ '  \ 
 \_/\_/|_|_|_\ \__,_|\_/\_/|_|_|_|_|_|_\__\__, |\_,_\__, \__,_|_||_(_)__\___/_|_|_|
              \____/                      |___/     |___/                           
</pre>
</a>



{% endblock %}