{% extends "front/pages/page_base.html" %}

{% block title %}Promo{% endblock %}


{% block content %}

<h2>The Problem with Bookmarks</h2>

<p>
Few people make use of browser bookmarks, and simply search for that site each time&mdash;because it is often quicker to do this than to find the site in the bookmark menu.
</p>

<p>
Most people find it hard to recall what category they decided to put the link in, and harder still to scan the bookmark list for it, because people generally don't store information like a computer.
</p>

<h3>What is the Alternative?</h3>

<p>
When you enter your PIN number in to a ATM machine, how do you remember the digits? You may find that the pattern the digits make on the keypad come to mind before the digits themselves. This is because we remember things better when they are <em>spatial</em>.
</p>

<blockquote>
    <p>
        Can't find a link in the bookmarks, But you have no trouble finding any of the 100s of items in your home? You will never lose a link again with Links Desktop.
    </p>
</blockquote>

<h3>The Solution</h3>

<p><em>Links Desktop</em> is a new way of storing links that lets you get to your favorite sites with a <em>single</em> click, by arranging them on a two dimensional <em>desktop</em>.</p>


<p>
    <strong>
<a href="/accounts/create/">Get a <em>free</em> links desktop!</a>
    </strong>
</p>

{% endblock %}

{% block sidebar %}

{% endblock %}