<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>Editing your desktop ({{ desktop_name }})</title>

<link href="{{ settings.MEDIA_URL }}css/desktop.css?{{ settings.CACHE_BUSTER }}" type="text/css" rel="stylesheet"/>
<link href="{{ settings.MEDIA_URL }}css/desktop_common.css?{{ settings.CACHE_BUSTER }}" type="text/css" rel="stylesheet"/>


{% if not settings.DEBUG %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
{% else %}
<script src="{{ settings.MEDIA_URL }}js/jquery-1.4.min.js" type="text/javascript"></script>
{% endif %}

{%- if theme.css %}
<style type="text/css">
{{ theme.css }}
</style>
{%- endif %}

</head>
<body xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <input type="hidden" id="media_url" value="{{ settings.MEDIA_URL}}"></input>
    <input type="hidden" id="username" name="username" value="{{ username }}"></input>
    <input type="hidden" id="desktop_slug" name="desktop_slug" value="{{ desktop_slug }}"></input>
    <input type="hidden" id="view_url" name="view_url" value="{{ view_url }}"></input>
    <input type="hidden" id="default_icon_size" name="default_icon_size" value="{{ settings.DEFAULT_ICON_SIZE }}"></input>
    <input type="hidden" id="stack_icon_url" name="default_icon_url" value="{{ stack_icon_url }}"></input>
    <input type="hidden" id="stack_icon_sizes" name="stack_icon" value="[{{ stack_icon_sizes }}]"></input>
    <input type="hidden" id="stack_icon_key" name="stack_icon_key" value="{{ stack_icon_key }}"></input>
    <input type="hidden" id="new_desktop" name="new_desktop" value="{{ new_desktop }}"></input>
    <input type="hidden" id="initial_dialog" name ="initial_dialog" value="{{ initial_dialog }}"></input>

    <div id="dynamic-preload" style="width:0px;height:0px;overflow:hidden;"></div>

    {% if not hide_menu %}
    <div id="desktop-edit-links" style="display:block;">
	{% if not new_desktop %}
        <div class="desktop-label options-menu" title="Click for options...">
            <a href="/{{ username }}/">Options</a>
        </div>
	{% endif %}

        <div class="desktop-labels-list">
	    {% if new_desktop %}
	    <div class="desktop-label option-button save-desktop"><a href="saveexit"><strong>Save and View</strong></a></div>
	    {% else %}
            <div class="desktop-label option-button save-desktop"><a href="saveexit">Save and View</a></div>	    
            <div class="desktop-label option-button discard-desktop"><a href="discard">Discard Changes</a></div>
	    {% endif %}
        </div>

        <div class="menu invisible" id="menu_options">
            <ul>

                <li class="show-desktop"><a href="{{ view_url }}" title="Exit Edit Mode, and return to your desktop">Exit Edit Mode</a></li>

                <div class="divider"></div>
                <li class="refresh-icons"><a href="/refresh" title="Refresh desktop with new icons">Refresh Icons</a></li>

                {% if user.is_authenticated() %}
                <li class="divider"></li>
                <li class="log-out"><a title="Log out of your account" href="/accounts/logout?next={{ view_url }}">Log Out</a></li>
                {% endif %}
                <!---->
                <!--<li class="divider"></li>-->
                <!---->
                <!--<li><a href="/help/">Help...</a></li>-->
            </ul>
        </div>
    </div>
    {% endif %}



    <div style="position:fixed;right:0px;bottom:0px;width:1px;height:1px;" id="edgemarker">&nbsp;</div>

    <div class="stack-layer"></div>

{%- if theme.html %}
<div id="theme_code">
{{ theme.html }}
<div>
{%- endif %}

    <div class="icon-layer"></div>

    <div class="selection-layer">

        <div class="rect-selection">
            <div class="background">
            </div>
            <div class="border">
            </div>
        </div>
    </div>


    <div class="buttons-layer">
        <div class="select-buttons">
            <div class="square-button button-info"  title="Edit icon"> </div>
            <div class="square-button button-new"  title="New Icon"> </div>
            <div class="square-button button-new-stack"  title="New Stack"> </div>
            <div class="square-button button-delete"  title="Delete icons"> </div>
            <div class="square-button button-undo"  title="Undo last action"> </div>
            <div class="square-button button-redo"  title="Redo action"> </div>
            <div class="square-button button-create-stack"  title="Put icons in stack"> </div>
            <div class="square-button button-unstack"  title="Remove icons from stack"> </div>
            <div class="square-button button-arrange-vertical" title="Arrange icons vertically" > </div>
            <div class="square-button button-arrange-horizontal"  title="Arrange icons horizontally"> </div>
            <!-- <div class="square-button button-arrange-square" title="Arrange icons in a square"> </div> -->
            <div class="square-button button-arrange-grid" title="Arrange icons in to a best fit grid"> </div>
            <div class="square-button button-arrange-circle" title="Arrange icons in to a circle"> </div>
        </div>
    </div>

    <div class="guide-layer">

    </div>

    <div class="dialog-shade">
    </div>

    <div class="dialog-layer">

        <div id="new-icon-dialog" class="dialog-container" style="width:400px;">

            <div class="dialog-inner" >
                <div class="dialog-dismiss" title="Close dialog"></div>
                <h1>Add a website</h1>
                <input id="new-icon-url" type="text" name="url"></input>

                <ul class="autocomplete"></ul>

                <div class="eg" style="padding-top:4px;opacity.8;">e.g. facebook.com</div>

                <div class="new-icons-container">
		    <div class="new-icons"></div>
                </div>

                <div class="new-icons-button-container">
                    <div class="new-icons-button ok">OK</div>
                </div>
            </div>

        </div>

        <div id="edit-icon-dialog" class="dialog-container" style="width:500px">
            <div class="dialog-inner">
                <div class="dialog-dismiss" title="Close dialog"></div>

                <ul class="dialog-tabs">
                    <li id="show-tab-visual" class="active">Icon</li>
                    <li id="show-tab-basic">Basic</li>
                    <li id="show-tab-details">Notes</li>
                </ul>

                <div class="visual tab-panel active" id='icon-visual-tab'>
                    <div class="custom-icon-check">
                        <input id="custom-icon-checkbox" type="checkbox" name="custom" />
                        <label for="custom-icon-checkbox">Custom Icon</label>
                    </div>

                    <div class="pack-selector invisible"></div>
                    <div class="pack-list-container invisible" >
                        <div class="pack-icon-list"></div>
                    </div>
                </div>

                <div class="basic tab-panel">
                    <table class="edit-icon-details">
                        <tr>
                            <td nowrap="nowrap"><label for="name">Name</label></td>
                            <td>
                                <input name="name" type="text"></input>
                            </td>
                        </tr>
                        <tr class="not-stack">
                            <td nowrap="nowrap"><label for="url">URL</label></td>
                            <td>
                                <input name="url" type="text"></input>
                            </td>
                        </tr>
                        <tr class="not-stack">
                            <td nowrap="nowrap"><label for="search_url">Search URL</label></td>
                            <td>
                                <input name="search_url" type="text"></input>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="details tab-panel">
                    <textarea name="icon-details"></textarea>
                </div>
                <div>
                    <div class="edit-icons-button ok">OK</div>
                </div>
            </div>
        </div>

        {% include "desktop/includes/inline_signup.html" %}

        <div id="loading-dialog" class="dialog-container">
            <div class="dialog-inner">
                <img src="{{ MEDIA_URL }}images/throbber.gif" />
            </div>
        </div>


    </div>


{% include "desktop/includes/popup.html" %}

        <div id="msg_hai" class="msg">
            <h1>Edit Mode</h1>
            <p>You are now in <em>edit mode</em>.</p>
            <p>Here you can edit the icons on your desktop, and create new ones.
            Feel free to experiment &mdash; changes are only final till you save them, and you can <em>undo</em> any mistakes.
            </p>
        </div>
        <div id="msg_about" class="msg">
            <h1>About</h1>
            <p>
                &copy; 2009 Will McGugan
            </p>
            <p>


            </p>

        </div>
	<div id="msg_new_desktop" class="msg">
	    <h1>New Desktop</h1>
	    <p>Great! Now that you have created your first desktop you will need to create a <em>free</em> account to save it...</p>
	</div>



    <div id="msg_alert" class="msg">
	{% raw %}
	<h1>{{ title }}</h1>
	<p>{{ message }}</p>
	{% endraw %}
    </div>

{% block content %}
{% endblock %}

<script type="text/javascript">
var desktop_initial_state = {% if definition_json %}{{ definition_json|safe }}{% else %}null{% endif %};
{%- if new_urls %}
var new_urls = {{ new_urls|safe }};
{%- else %}
var new_urls = null;
{% endif %}
</script>


<script src="{{ settings.MEDIA_URL }}js/desktop_common.js?{{ settings.CACHE_BUSTER }}" type="text/javascript"></script>
<script src="{{ settings.MEDIA_URL }}js/desktop.js?{{ settings.CACHE_BUSTER }}" type="text/javascript"></script>
<script src="{{ settings.MEDIA_URL }}js/new_icon_dlg.js?{{ settings.CACHE_BUSTER }}" type="text/javascript"></script>
<script src="{{ settings.MEDIA_URL }}js/edit_icon_dlg.js?{{ settings.CACHE_BUSTER }}" type="text/javascript"></script>

{% include "ga.html" %}
</body>

</html>
